<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/cinema.jpg)">
  <div class="container p-3">
    <h1 class="display-4">Kenn's Watch List</h1>
    <p class="lead">Add your favorite movies to your list</p>
    <%= link_to "Create a New List", new_list_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container my-5">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : "" %>')">
        <div class="card-content">
          <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
          <%= link_to list_path(list), method: :delete, data: { confirm: "Delete #{list.name}" }, class: "card-remove-link" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>