<div class="container mt-5">
  <h3>Create a new list</h3>
    <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
  <%= link_to "My Lists", lists_path %>
</div>