<div class="container mt-5">
  <h3><%= @list.name %></h3>
  <div class="cards">
    <% @list.bookmarks.each do  |bookmark| %>
      <% image = "https://image.tmdb.org/t/p/w500/#{bookmark.movie.poster_url}" %>
      <div class="card-body" style="background-image: url(<%= image %>)">
        <div class="card-content">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.comment %></p>
          <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Delete #{bookmark.movie.title}?" }, class: "card-remove-link" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-between mt-5">
    <%= link_to "Create a new bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>
    <%= link_to "Back", lists_path, class: "btn btn-secondary" %>
  </div>
</div>
