<div class="container mt-5">
  <h3 class="text-center">Create a new bookmark</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: "Leave a comment" %>
    <%= f.association :movie, prompt: "Select a movie" %>
    <div class="d-flex justify-content-between mt-5">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Back", list_path(@list), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
